<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaedu.springcloud.dao.PaymentDao">
    <resultMap id="BaseResultMap" type="com.chinaedu.springcloud.entity.Payment">
        <id column="pid" property="pid" javaType="java.lang.Long" jdbcType="BIGINT" />
        <id column="pusername" property="pusername" javaType="java.lang.String" jdbcType="VARCHAR" />
        <id column="pserial" property="pserial" javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addpayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert  into payment values(0,#{pusername},#{pserial})
    </insert>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where pid = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select * from payment
    </select>

    <delete id="delete" parameterType="Long">
        delete  from payment where pid = #{id}
    </delete>
</mapper>